@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 2rem auto;
    width: min(90vw, 1200px);
}

.canvas-container {
    height: min(90dvh, 600px);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: move;
    margin: 1rem auto;
}

.controls {
    display: flex;
    gap: 1rem;
    margin: auto;
    flex-wrap: wrap;
    align-items: end;
}

.controls-btn {
    padding: .4rem 1rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.controls-btn:hover {
    background-color: #45a049;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-group label {
    font-size: .8rem;
    color: #333;
}

.input-group input {
    padding: .3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}